@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "navbarStyle.css";
@import "variable.css";
@import "reset.css";

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.page-header {
  background-color: rgba(0, 0, 0, 0.416);
}
.page-header.loading {
  background-color: var(--pale-brown-color);
}
.movie-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  padding: 0 6rem;
}
.movie-info-wrapper {
  height: 60%;
  transform: translateY(-10%);
  display: flex;
}
.movie-info-poster {
  overflow: hidden;
  border-radius: 5px;
}
.movie-info-poster-img {
  max-width: 100%;
  max-height: 100%;
}
.movie-info {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.movie-info-imdb {
  background-color: var(--imdb-bg);
}
.movie-info-title {
  font-size: 2rem;
}
.movie-info-director {
  font-size: 1rem;
}
.movie-info-year {
  font-size: 1rem;
}
.movie-info-watch-later {
  font-size: 1rem;
  outline: none;
  border: none;
  color: var(--primary-font-color);
  cursor: pointer;
  background: none;
}
.movie-info-watch-later > i {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.main {
  border-top: 2px solid var(--primary-font-color);
  background-color: var(--pale-brown-color);
}
.movie-additional-info-container {
  padding: 2rem 4rem;
  display: flex;
}

.movie-actores,
.movie-plot,
.movie-writers {
  flex: 1;
}

.movie-plot > p,
.movie-actores > p,
.movie-writers > p {
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: 200;
}
.movie-plot > h3,
.movie-actores > h3,
.movie-writers > h3 {
  font-size: 1.3rem;
}
/*  loading animation */
.loader-container {
  height: 100px;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 15px solid var(--secondery-color);
  border-top: 15px solid var(--primary-color);
  animation-name: loader;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes loader {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
.loader--hidden {
  opacity: 0;
  visibility: hidden;
  transition: 1s linear opacity, 1s linear visibility;
}
/* end  loading animation */
